@import "tailwindcss";

@theme {
  --color-primary: #0842a0;

  --color-white-primary: #ffffff;
  --color-white-secondary: #f2f2f2;
  --color-white-tertiary: #e6e6e6;

  --color-black-primary: #0f0f0f;
  --color-black-secondary: #1f1f1f;
  --color-black-tertiary: #2e2e2e;

  --default-font-family: "General Sans", sans-serif;
}
